# Created by pytest automatically.
backend/.pytest_cache/
backend/.venv/
backend/clean_env/
backend/model_files/
frontend/cypress/
frontend/dist/
frontend/node_modules/
frontend/cypress.config.js
